.PageNotFound {
  width: 100%;
  max-width: 384px;
  height: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  margin: 60px auto auto auto;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
}
.button {
  border-radius: 4px;
  background-color: #1890ff;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 16px;
  transition: box-shadow 0.3s ease;
  &:hover {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
  }
}
